[Unit]
Description=Tara, the Discord bot
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/tara daemon -l warn

[Install]
WantedBy=multi-user.target